.contect-section {
    font-size: 0.8rem;
}

.icon-box-text {
    display: flex;
}

.footer-header  h3 {
    font-size: 1.2;
}

.link-list li a {
    color:#0599cf;;;
    font-size: 14.4;
    font-weight: 400;
}
link-list li  {
    font-size: 14.4;
    font-weight: 400;
}
.icon-box-title{
    color:#0599cf;;;

}
.icon-box-text{
    color:#0599cf;;;
}

p{
    text-align: left;
}