<section *ngIf="data" class="container section is-small">
  <h1 class="page-heading">{{data.mainHead}} </h1>
  <p *ngIf="data.mainContent" class="main-text" class="column is-10">
    {{data.mainContent}}
  </p>
  <div class=" column is-10" *ngFor="let d of data.contents; let i=index">
    <ng-container *ngIf="d.content && d.url; else elseTemplate">
      <div class="columns">
        <div class="column is-4 card-image has-text-centered">
          <img src="{{d.url}}" alt="">
        </div>
        <div class="column is-8">
          <div>
            <h3 class="subheading">{{d.title}}</h3>
            <p>{{d.content}}</p>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #elseTemplate>

      <ng-container *ngIf="d.url; else elseTemplate2">
        <div class="has-text-centered ">
          <div class=" has-text-centered is-size-5"><span>{{d.title}}</span></div>
          <img height="40%" src="{{d.url}}" alt="">
        </div><br>
      </ng-container>
      <ng-template #elseTemplate2>
        <div>
          <div class="column is-8 is-offset-2">
            <div>
              <h3 class="subheading">{{d.title}}</h3>
              <p>
                {{d.content}}
              </p>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>


</section>
<div class="has-text-centered">
  <a *ngIf="toshow" class="button is-black" [routerLink]="[ '/contact-us' ]" routerLinkActive="order-active">Request
    More
    Information</a>
</div>
<br><br><br>