<section class="container section" >
        <h2 class="title">Industries</h2>
        <div class="divider"></div>
    <div>
        <div class="columns is-multiline features">
            <div class="column is-4" *ngFor="let d of data" style="padding-top:1.3rem;">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <img src="{{d.contents[0]?.url}} ">
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>{{d?.mainHead}} </h4>
                            <!-- <p>{{ trim(d.mainContent)}}...</p> -->
                        </div>
                        <div class="action">
                            <button class="button is-black is-small" [routerLink]="['/-/idetail',{main: 'industries',name:d.id }]">Read
                                More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>