.card-action> {
    padding-left: 30%;
}

.example-form {
    width: 100%;
}

.example-full-width {
    width: 100%;
}

textarea.mat-input-element {
    padding: 2px 0;
    margin: -2px 0;
    height: 15rem;
}

.mr-10 {
    margin-top: 1rem;
}
.file.is-boxed .file-cta {
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    padding: 2em 2em;
}
.notification {
    background-color: #fff;
    border-radius: 4px;
    padding: 0;
    position: relative;
}