<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">We are hiring!</h1>
        <!-- <h3 class="subtitle is-4 is-muted">And we Know it</h3> -->
        <div class="divider"></div>
      </div>
      <div class="column is-8 mt-60">

        <!-- icon block -->
        <article class="media icon-box">
          <div class="media-content mt-50">
            <div class="content">
              <p>
                <span class="icon-box-title">Surface Design Technologies Pvt. Ltd offers a wide variety of scope in
                  different areas such as Reverse
                  Engineering, Scanning & Inspection. Our facility is well equipped and offers exceptional platform for
                  development. <br>
                  <div>
                    <span>Join us and be a part of our team.</span>
                  </div>
                </span>
              </p>
              <br><br>
              <p><a class="button is-black is-hidden-touch"
                  href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=sdtpl.re@gmail.com&su=Resume&body=About_you&bcc=&tf=1">Apply
                  Now</a></p>
              <p style="color:white"><a class="button is-black   is-hidden-desktop"
                  onclick="window.location.href = 'mailto:sdtpl.re@gmail.com';">Apply
                  Now</a></p>

            </div>

          </div>
        </article>
      </div>
    </div>
  </div>
</section>