<section class="section container">
  <!-- <p style="margin-left:40px; margin-right: 40px;" class="has-text-centered">
    <span class="title">
      Our Mission
    </span> <br>
    <span class="mission">
      To Provide The Best Possible Engineering Design Solutions For All Types Of Industries By Use Of Latest
      Technological Tools.
    </span>
  </p><br> -->
  <div class="title-wrapper ">
    <h2 class="title   is-spaced">Our Team</h2>
    <div class="divider"></div>
  </div>
  <br>

  <p style="margin-left:40px; margin-right: 40px;">
    Our team is highly proficient and experienced to work on 3D high end scanning equipments & softwares for 3D
    modeling
    & Inspection. The team is lead my Mr. Avinash Ghorpade (Director) having 26 Years Industrial experience in various
    functions like manufacturing, Project Management, Automation and Engineering. Objective of our business is to
    provide high precision 3D scanning, reverse engineering, Design Drawing, Protomaking & 3D printing services. Team
    comprises of more than 35 members. The team has rigorously handled different projects in various industries and
    have
    extended support upto the manufacturing stage.
  </p>
  <br><br>
  <div class="columns is-multiline">
    <div class="column is-4" *ngFor="let i of img">
      <img src="../../../assets/images/our-team/{{i}}.JPG" alt="">
    </div>
  </div>
</section>