.columns {
    padding: 0 2rem 3rem;
}

.column {
    padding: .2rem;
}

.mission{
    font-family: 'Unna', serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 2rem;
    color: #292277;
}