<div>
        <div class="columns">

                <div style="margin-left:1rem; background-color: #fff;" class="column is-3 tesomonial">
                        <br>
                        <div>
                                <div style="text-align: -webkit-center;">
                                        <h1 class="has-text-centred" class="title is-4   is-spaced">
                                                TESTIMONIALS
                                        </h1>
                                        <div class="has-text-centred" class="divider"></div>
                                </div>
                        </div>
                        <br>
                        <div *ngFor="let fb of feedback">
                                <p class=" is-size-4  testo">
                                        {{fb.fbTxt}}
                                </p>
                                <p class="speeker"> <span>{{fb.fbFrom}}</span> </p>
                        </div>
                </div>

                <div class="column client is-8">
                        <section class="section ">
                                <div class="container">
                                        <div style="text-align: -webkit-center;">
                                                <h1 class="has-text-centred" class="title is-4   is-spaced">
                                                        OEM REFERENCE
                                                </h1>
                                                <div class="has-text-centred" class="divider"></div>
                                        </div>
                                        <br>
                                        <div class="columns row is-vecentred is-multiline">

                                                <div *ngFor="let cl of client; let i=index" class="col-2 ">
                                                        <img alt="" class="aligncenter img-responsive" src="{{cl}}">
                                                </div>
                                        </div>
                                </div>
                        </section>


                        <section class="section ">
                                <div class="container">
                                        <div style="text-align: -webkit-center;">
                                                <h1 class="title is-4  is-spaced">
                                                        SUPPLIERS REFERENCE
                                                </h1>
                                                <div class="divider"></div>
                                        </div>
                                        <br>
                                        <div class="columns row is-vecentred is-multiline">
                                                <div *ngFor="let cl of client1; let i=index" class="col-2 ">
                                                        <img alt="" class="aligncenter img-responsive" src="{{cl}}">
                                                </div>
                                        </div>
                                </div>
                        </section>
                </div>
        </div>
</div>