<section class="section is-small">
  <div class="container">
    <h1 class="title section-title">About Us</h1>
    <div class="divider"></div>
    <br><br>
    <div class="columns">
      <div>
        <!-- icon block -->
        <article class="media icon-box">
          <div class="columns">
            <figure class="column is-5">
              <p class="image">
                <img style="height:18.7rem" src="assets/images/illustrations/about-us.png">
              </p>
            </figure>
            <div class="column is-7">
              <div class="content" style="text-align: justify;">
                <div style="color:black; font-size: 1rem;">
                  <!-- <span class="icon-box-title">Powerful and unified interface</span> -->
                  <!-- <p class="icon-box-text; "><b style="font-size:1rem;"> SURFACE DESIGN TECHNOLOGIES PVT. LTD. (SDTPL)
                      &nbsp; &nbsp;</b>
                    founded in 2003 by Mr. Avinash Ghorpade, an engineer, having 26 years industry experience in various
                    fields like manufacturing, project management, automation and engineering. Objective of our business
                    is to provide high precision 3D scanning, reverse engineering, design drawing, protomaking, BIW and
                    CMM inspection services. Team comprises of more than 35 members <br> we have two facilities: <br>
                  </p> -->
                  <p>{{aboutTxt}}</p>
                  <a href="https://firebasestorage.googleapis.com/v0/b/serfacedesign.appspot.com/o/pdf%2FSURFACE%20DESIGN%20FLYER.pdf?alt=media&token=09ff1e59-efb1-4a51-8e31-f791f2ca5cf3"> Read More... </a>
       
                  <!-- <ul>
                    <li>Chinchwad (Pune , Maharashtra): Head office and Engineering Centre </li>
                    <li>Belgaum (Karnataka): Engineering and Manufacturing facility</li>
                  </ul>
                  <p>
                    We have been the Pioneers in Introducing laser scanning services in India both in short and long
                    range
                    scanning. We stared door-to-door 3D Scanning Services for the Indian Engineering Industry and have a
                    trusted clientele Ranging From Automotive, Heavy Industry, Defense, Aerospace, Heritage, Shipping,
                    Healthcare And Consumer Goods Segment. <br>
                  </p> -->
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="media icon-box">
          <!-- <figure class="media-left">
                          <p class="image">
                              <img src="assets/images/illustrations/icons/mobile-feed.svg">
                          </p>
                      </figure> -->
          <div class="media-content mt-50">
            <div class="content">
              <p>
                <span class="icon-box-title" style="font-weight:700" >MILESTONES</span>
                <span style="color:black" class="icon-box-text">
                 
                 <p>{{milestone}}</p>
                 
                  <!-- <ul>
                    <li> 2003: Surface Design Technologies Pvt. Ltd. started</li>
                    <li> 2004: Joint venture with Laser Design Inc. USA for technology collaboration </li>
                    <li> 2005: Introduction of door-to-door Scanning services</li>
                    <li>2007: Start of long range 3D Scanning services and became exclusive service partner for DRDO,
                      VRDE, Naval Dockyard, HAL and CVRDE </li>
                    <li>2008: Executed large sized 3D Scanning projects like Full vehicle Scan and Tear-down analysis
                      for Bench Marking projects for Automotive customers. </li>
                    <li> 2015:Expansion of our services covering south of India by starting a setup in Belgaum and
                      providing full fledge service in 3D Scanning, 3D Printing, Proto manufacturing and Inspection
                      services locally. </li>
                    <li> 2017: Start of 24 X 7 3D Scanning service. </li>
                    <li> 2018: Acquired distributorship of Laser Scanners and Blue Light scanning systems.</li>
                  </ul> -->
                </span>
              </p>
            </div>
          </div>
        </article>
        <!-- /icon block -->
      </div>
    </div>
  </div>
</section>